<mat-toolbar color="primary" class="main-toolbar">
  <div fxFlex fxLayoutGap="15px" fxLayout fxLayoutAlign="start center">
    <ul fxLayout fxLayoutGap="15px" class="navigation-items">
      <li><h1><a routerLink="/" class="title">{{title}}</a></h1></li>
    </ul>
  </div>
  <div fxFlex fxLayout fxLayoutAlign="center center">
  </div>
  <div fxFlex fxLayout fxLayoutAlign="end center" fxHide.xs>
    <ul fxLayout fxLayoutGap="15px" class="navigation-items">
      <li><a routerLink="about">About</a></li>
      <li><a routerLink="contact">Contact</a></li>
    </ul>
  </div>
</mat-toolbar>

